  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <%=stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons"%>
      <!--Import materialize.css-->
      <%=stylesheet_link_tag "css/materialize.min.css"%>
      <%= favicon_link_tag %>

  <!-- Compiled and minified CSS -->
  <%=stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"%>

  <!-- Compiled and minified JavaScript -->
   <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"%>

      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <div class="container">
      <!--Import jQuery before materialize.js-->
      <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"%>
      <%= javascript_include_tag "js/materialize.min.js"%>
       
   <div class="row">

      <div class="col s12 m12 l12">
      <div class="center promo promo-example">
      <i class="material-icons" style="font-size: 100px; color:#708090">search</i>
        <!-- Promo Content 1 goes here -->
        <p class="promo-caption" style="font-weight:bold">Facilidade para encontrar o estágio ideal para você</p>

<p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      </div></div>
      
      <div class="col s12 m12 l12">
      <div class="center promo promo-example">
      <i class="material-icons" style="font-size: 100px; color:#708090">add</i>
        <!-- Promo Content 2 goes here -->
        <p class="promo-caption" style="font-weight:bold">Sua empresa contratando com mais facilidade</p>

<p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      </div></div>
      <div class="col s12 m12 l12">
      <div class="center promo promo-example">
      <i class="material-icons" style="font-size: 100px; color:#708090">person_pin</i>
        <!-- Promo Content 3 goes here -->
        <p class="promo-caption" style="font-weight:bold">Conexão com todo o Brasil</p>

<p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      </div>

    </div>   
    </div>
    </div>
     <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Institucional</h5>
                <%= link_to "Sobre nós", "#"%>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Nossas redes sociais</h5>
                <ul>
                 <li>
                <%= link_to "http://www.facebook.com/user", class:"grey-text text-lighten-3" do %>
                <%= image_tag 'facebook.png', class:"responsive-img" %></li>
                <% end %>
                <li>
                <%= link_to "http://www.instagram.com/user", class:"grey-text text-lighten-3" do %>
                <%= image_tag 'instagram.png', class:"responsive-img" %></li>
                <% end %>
                  <li>
                <%= link_to "http://www.twitter.com/user", class:"grey-text text-lighten-3" do %>
                <%= image_tag 'twitter.png', class:"responsive-img" %></li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016. All rights reserved. by <strong>Rayane Maria. GTi Engenharia Jr.</strong>
           
            </div>
          </div>
        </footer>
    </body>
  </html>
