<table class="responsive-table">
<table class="centered">
<table class="highlight" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @internship.office %>
</p>

<p>
  <strong>Company:</strong>
  <%= @internship.company %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @internship.cash %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @internship.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @internship.description %>
</p>
<p>
  <strong>Graduation:</strong>
  <%= @internship.graduation%>
</p>

 

<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
</table></table></table>