<p id="notice"><%= notice %></p>

<h1>Graduations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduations.each do |graduation| %>
        <tr>
        <td><%= graduation.name%></td>
        <td><%= link_to 'Show', graduation %></td>
        <td><%= link_to 'Edit', edit_graduation_path(graduation) %></td>
        <td><%= link_to 'Destroy', graduation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graduation', new_graduation_path %>
