<!DOCTYPE html>
<html>
  <head>
    <title>Mural</title>
    <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons"%>
      <!--Import materialize.css-->
    <%= stylesheet_link_tag "css/materialize.min.css"%>
    <%= favicon_link_tag %>

  <!-- Compiled and minified CSS -->
  <%=stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"%>

  <!-- Compiled and minified JavaScript -->
   <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"%>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"%>
  <%= javascript_include_tag "js/materialize.min.js"%>
<<<<<<< HEAD
      
     <nav  class="extended-nav">
      <div class="nav-wrapper">
        <%= link_to "Mural de estágios", welcome_index_path, class:'brand-logo center'%>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down button-collapse">
            <% if !current_user_company %>
                <li><%= link_to "Cadastre sua empresa", new_user_company_registration_path%></li>
                <li><%= link_to "Entrar", new_user_company_session_path%></li>
            <% end %>
            
            <% if user_company_signed_in? %>
              <li><%= link_to "Perfil", perfil_index_path %></li>
              <li><%= link_to "Adicionar estágios", new_internship_path%></li>
              <li><%= link_to "Meus anúncios", internships_path%></li>
              <li><%= link_to 'Sair', destroy_user_company_session_path, :method => :delete%></li>
            <% end %>
          </ul>
            <ul class="side-nav" id="mobile-demo">
            <% if !current_user_company %>
                <li><%= link_to "Cadastre sua empresa", new_user_company_registration_path%></li>
                <li><%= link_to "Entrar", new_user_company_session_path%></li>
            <% end %>
            
            <% if user_company_signed_in? %>
              <li><%= link_to "Perfil", perfil_index_path %></li>
              <li><%= link_to "Adicionar estágios", new_internship_path%></li>
              <li><%= link_to "Meus anúncios", internships_path%></li>
              <li><%= link_to 'Sair', destroy_user_company_session_path, :method => :delete%></li>
            <% end %>
          </ul>
      </div>
    </nav>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
 
=======
    
     <nav>
      <div class="nav-wrapper">
      <%= link_to "Mural de estágios", welcome_index_path, class:'brand-logo center'%>
        <% if !current_user_company %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Cadastre sua empresa", new_user_company_registration_path%></li>
            <li><%= link_to "Entrar", new_user_company_session_path%></li>
            <%end%>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_company_signed_in? %>
          <li><%= link_to "Perfil", perfil_index_path %></li>
          <li><%= link_to "Adicionar estágios", new_internship_path%></li>
          <li><%= link_to "Meus anúncios", internships_path%></li>
          <li><%= link_to 'Sair', destroy_user_company_session_path, :method => :delete%></li>
          <% end %>
        </ul>
        </ul>
      </div>
    </nav>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
>>>>>>> 64486bd68076e055bdd9a83640c76b7bc06e3c6d
</html>
